
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
h1{
    font-family: 'Rampart One', cursive;
    font-size:100px;
    font-weight: 200;

}

h2,p{
    font-family: 'Montserrat', sans-serif; 
   
}
p{
    font-weight: bolder;
}

